.searchForm {
  display: flex;
  gap: 15px;
}

.searchInput {
  width: 400px;
  padding: 0px 30px;
  background-color: #252525;
  color: #f9f9f9;
  font-size: 18px;
  border: 1px solid #505050;
  outline: none;
  border-radius: 10px;
}

:global(.light) .searchInput {
  background-color: #f9f9f9;
  color: #1f1f1f;
  border: 1px solid #cfcfcf;
}

.searchButton {
  padding: 16px 40px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  border: none;
  border-radius: 10px;
}

:global(.light) .searchButton {
  background-color: #505050;
  color: #f9f9f9;
}
